details {
  text-align: center;
}

summary {
  font-weight: bold;
}

section {
  width: 100%;
  margin: 1em auto 2em;
}

div.table-container {
  display: block;
  overflow-y: scroll;
}

section.legend p {
  border-left-width: 0.5em;
  border-left-style: solid;
  padding-left: 0.5em;
}

table {
  border-collapse: collapse;
  color: #424242;
  margin: 1em auto;
}

table * {
  border: 1px solid #727272;
  padding: 5px 10px;
  text-align: center;
}

tr > td:first-of-type {
  white-space: nowrap;
}

.no-shift {
  background-color: #4d7cae;
  border-color: #4d7cae;
}

.no-shift-border {
  border-color: #4d7cae;
}

.no-festival {
  background-color: #375a7f;
  border-color: #375a7f;
}

.no-festival-border {
  border-color: #375a7f;
}

.no-volunteers {
  color: #f1f1f1;
  background-color: rgb(228, 58, 100);
}

.no-volunteers-border {
  border-color: rgb(228, 58, 100);
}

.missing-volunteers {
  color: #424242;
  background-color: #f6d43f;
}

.missing-volunteers-border {
  border-color: #f6d43f;
}

.enough-volunteers {
  color: #424242;
  background-color: #aecb54;
}

.enough-volunteers-border {
  border-color: #aecb54;
}

@keyframes loading-dots {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.loading-dot {
  animation-name: loading-dots;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loading-dot:nth-of-type(2) {
  animation-delay: 0.1s;
}

.loading-dot:nth-of-type(3) {
  animation-delay: 0.2s;
}
